<div class="container">
    <div *ngFor="let post of posts; let i = index" class = "cards">
        
        <mat-card class="card-title">
            <span appTitleHighlighter>{{ post.title }}</span>
            <span  class="show_text" #showHideButton (click)="toggleData(post)">{{ post.showingComments ? 'Show comments' : 'Hide comments' }}</span>
            <div>
                <app-comments *ngIf = "!post.showingComments" [comments] = "comments"></app-comments>
            </div>  
        </mat-card>
    </div>
</div>